@{
    ViewData["Title"] = "Livraria";
}

<div class="text-center">
    <h1 class="display-4">Olá </h1>
    <a asp-area="" asp-controller="Livraria" asp-action="Index">Veja a Lista de Livros</a>
</div>
